@use "../../styles/variables" as *;
@use "../../styles/media-queries.scss" as *;

.page-width {
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 1.5rem;

  @include large {
    padding: 0 5rem;
  }
  @include medium {
    padding: 0 1rem;
  }
}

.product-breadcrmbs {
  margin-top: 60px;
  margin-bottom: 16px;

  a {
    color: #888b9d;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;

    &:not(:last-child)::after {
      content: ">";
      margin: 4px;
    }

    &.active {
      color: $secondary-color;
    }
  }
}

.product-container {
  padding-top: 27px;
  padding-bottom: 9px;

  @include c-md {
    padding-top: 36px;
    padding-bottom: 12px;
  }

  .product-title {
    @include c-lg {
      margin-bottom: 4px;
    }

    h2 {
      font-weight: 700;
      line-height: 1.2;
      max-width: 100%;
      font-size: 42px;

      @include c-lg {
        font-size: 28px;
      }
    }
  }

  .show-on-mobile {
    display: none;

    @include c-lg {
      display: flex;
    }
  }

  .price-container {
    gap: 8px;
  }

  .product {
    flex-wrap: nowrap;
    gap: 90px;
    margin: 0;

    &.grid {
      gap: 0;

      @include large {
        column-gap: 26px;
        row-gap: 26px;
      }
    }

    @include m-xl {
      gap: 45px;
    }

    @include c-lg {
      flex-direction: column;
      gap: 0;
      margin-top: 16px;
      overflow-y: clip;
    }

    .grid-item {
      flex-grow: 1;
      flex-shrink: 0;
      max-width: calc(50% - 12px / 2);
      width: calc(25% - 12px * 3 / 4);

      @include c-lg {
        width: calc(50% - 26px / 2);
      }
    }

    .product-wrapper {
      flex-shrink: 1;
      height: -moz-fit-content;
      height: fit-content;
      position: sticky;
      top: calc(79px + 5px);
      padding-left: 0;

      @include c-lg {
        position: static;
        overflow-y: clip;
      }

      @include large {
        /* max-width: 65%; */
        width: calc(65% - 26px / 2);
      }

      ::ng-deep.image-viewer {
        display: flex;
        flex-direction: row;
        gap: 40px;
      }
    }

    .product-info {
      @include large {
        padding: 0;
        width: calc(50% - 45px);
      }

      @include c-md {
        padding: 0;
      }

      @include medium {
        padding: 0;
        width: 100%;
      }
    }

    .product-info-container {
      @include large {
        max-width: 60rem;
      }

      .product-title {
        @include c-lg {
          margin-bottom: 4px;
        }

        h1 {
          font-size: 42px;
          font-weight: 700;
          line-height: 1.2;
          margin: 0;
          max-width: 100%;

          @include c-lg {
            font-size: 28px;
          }
        }
      }

      .price-container {
        display: flex;
        gap: 8px;
      }
    }

    .product-info-container > :first-child {
      margin-top: 0;
    }

    .product-status {
      align-items: center;
      display: flex;
      gap: 10px;
      margin-top: 7px;

      &.in-stock {
        color: #11ba4b;
      }

      &.caption {
        font-size: 14px;
        line-height: 1.8;
        font-weight: 600;

        @include large {
          line-height: 1.2;
        }
      }

      .indicator {
        align-items: center;
        display: flex;
        height: 16px;
        justify-content: center;
        position: relative;
        width: 16px;

        i {
          background-color: currentColor;
          border-radius: 9999px;
          display: block;
          height: 7.1px;
          width: 7.1px;
        }

        &::before {
          background-color: currentColor;
          border-radius: 9999px;
          content: "";
          display: block;
          height: 100%;
          opacity: 0.15;
          position: absolute;
          width: 100%;
        }
      }
    }

    .product-description {
      padding-right: 28px;

      @include c-lg {
        padding-right: 0;
      }

      .caption {
        max-width: 100%;
        font-size: 16px;
        font-weight: 500;

        @include c-lg {
          font-size: 15px;
        }
      }
    }

    .warranty-info {
      color: $secondary-color;
      align-items: center;
      display: flex;
      gap: 6px;

      .warranty-icon {
        display: inline-flex;
        position: relative;

        .warranty-time {
          align-items: center;
          display: flex;
          height: 100%;
          justify-content: center;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 1;

          &.caption {
            color: $secondary-color;
            font-size: 11;
            line-height: 1.5;
          }
        }
      }

      .tooltip-body {
        align-items: center;
        display: flex;

        @include c-lg {
          font-size: 15px;
        }

        .info-tooltip {
          height: fit-content;
          display: inline-flex;
          position: relative;
          text-align: left;
          margin-left: 6px;

          .tooltip-icon {
            height: fit-content;
            display: flex;
          }
        }
      }
    }

    .variant-selects {
      display: block;

      .variants-container {
        align-items: stretch;
        gap: 12px;
        justify-content: flex-start;
        overflow-x: auto;
        padding-top: 28px;
        row-gap: 24px;
        max-width: unset;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        border: none;
        flex: 0 0 100%;
        flex-wrap: wrap;
        margin: 0 0 1.2rem;
        min-width: -moz-fit-content;
        min-width: fit-content;

        @include c-lg {
          column-gap: 8px;
          row-gap: 20px;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
          margin-left: -1.5rem;
          margin-right: -1.5rem;
        }

        .checkbox-form {
          display: flex;
          flex: unset;
          flex-wrap: nowrap;
          gap: 24px 12px;
          margin: 0;
          max-width: unset;
          min-width: unset;
          width: 100%;

          @include c-lg {
            column-gap: 6px;
            overflow-x: auto;
            padding: 1.5rem;
          }

          .block-option {
            align-items: center;
            border: 1px solid #eceff2;
            border-radius: 10px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 6px;
            padding: 26px 10px 16px;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: all 0.3s ease-out;
            width: 100%;

            @include c-lg {
              min-width: 140px;
              padding: 26px 4px 16px;
            }

            &.active {
              border: 1px solid $secondary-color;
            }

            .product-status-badge {
              align-items: center;
              border-radius: 10px;
              display: flex;
              height: 25px;
              padding: 0 8px;
              position: absolute;
              top: -13px;

              &.in-stock {
                color: #11ba4b;
                background-color: #d0fff0;
              }

              .product-status {
                align-items: center;
                display: flex;
                gap: 10px;
                margin: 0;
              }
            }

            img {
              object-fit: contain;
              align-items: center;
              display: flex;
              justify-content: center;
              width: 100%;
              height: auto;
            }

            .block-option-header {
              align-items: center;
              display: flex;
              gap: 4px;
              line-height: 1.5;

              @include c-lg {
                font-size: 15px;
              }
            }

            .caption-block-option {
              color: #353638;
              font-size: calc(15px - 1px);
              display: flex;
              gap: 4px;

              @include c-lg {
                font-size: calc(12px - 1px);
              }
            }

            .price-per-price {
              color: #b6042e;
            }
          }
        }

        input[type="radio"] {
          clip: rect(0, 0, 0, 0);
          height: 1px;
          overflow: hidden;
          position: absolute;
          width: 1px;
        }
      }
    }

    .buttons-row {
      align-items: stretch;
      display: flex;
      gap: 8px;
      margin-bottom: 0;
      margin-top: 16px;

      @include c-lg {
        flex-wrap: wrap;
      }

      .product-quantity {
        display: flex;

        @include c-lg {
          width: fit-content;
        }

        .price-per-item-container {
          align-items: center;
          display: flex;
          gap: 1rem;

          .quantity {
            border: 1px solid #d2d9de;
            border-radius: 8px;
            display: flex;
            height: calc(100% - 2px);
            max-width: 119px;
            position: relative;
            width: 100%;

            @include c-lg {
              min-height: 44px;
              height: 100%;
            }

            .quantity-button:not(:focus-visible):not(.focused),
            .quantity-input:not(:focus-visible):not(.focused) {
              background-color: inherit;
              box-shadow: inherit;
            }

            .quantity-button:first-child {
              margin-left: calc(1px);
            }

            .quantity-button {
              align-items: center;
              color: rgb(18, 18, 18);
              cursor: pointer;
              display: flex;
              flex-shrink: 0;
              font-size: 1.8rem;
              justify-content: center;
              padding: 0;
              border: 0;

              &.disabled {
                cursor: not-allowed;
                opacity: 0.5;
              }

              svg {
                width: 22px;
              }
            }

            .quantity-input {
              background-color: transparent;
              border: 0;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              color: currentColor;
              color: #121519;
              flex-grow: 1;
              font-size: 1.6rem;
              font-weight: 500;
              opacity: 0.85;
              padding: 0 0.5rem;
              text-align: center;
              -moz-appearance: textfield;
            }

            .quantity-input::-webkit-outer-spin-button,
            .quantity-input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }
      }

      .buttons {
        flex-grow: 1;

        .btn {
          flex-direction: row-reverse;
          gap: 12px;
          width: 100%;
          padding: 16px 64px;
          transition: all 0.3s ease-out;

          &:hover {
            svg {
              path {
                stroke: $secondary-color;
                transition: all 0.3s ease-out;
              }
            }
          }
        }
      }
    }

    .key-features {
      margin-top: 20px !important;

      .key-features-container {
        border: 1px solid #d2d9de;
        border-radius: 10px;
        padding: 20px 27px 38px 40px;

        @include m-xl {
          padding: 20px 25px;
        }

        .title-row {
          align-items: center;
          display: flex;
          gap: 20px;
          justify-content: space-between;

          & > span {
            white-space: nowrap;
          }

          span {
            font-weight: 600;
            line-height: 1.5;

            @include c-lg {
              font-size: 15px;
            }
          }
        }

        .icons {
          display: flex;
          flex-wrap: wrap;
          gap: 14px;
          justify-content: center;

          .feature-icon {
            background-color: $light-color;
            border-radius: 9999px;
            display: flex;
            height: 44px;
            padding: 11px;
            width: 44px;

            svg {
              height: 100%;
              width: 100%;
            }
          }
        }

        .text-list {
          margin-top: 1rem;
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 12px;
          list-style-position: inside;
          padding: 0;
          text-align: start;
          width: -moz-fit-content;
          width: fit-content;

          li {
            align-items: flex-start;
            display: flex;

            svg {
              flex-shrink: 0;
              margin: 0;
              margin-top: 3px;

              @include c-lg {
                margin-top: 2px;
              }
            }

            .list-content {
              margin-left: 10px;
            }
          }
        }
      }

      .caption {
        letter-spacing: normal;
      }
    }

    .drawer-component {
      .open-drawer {
        align-items: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: none;
        border-bottom: 0.8px solid #d2d9de;
        box-shadow: none;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: #121519;
        height: 67px;
        font-weight: 600;
        line-height: 1.5;
        font-size: 16px;

        &:hover {
          svg {
            transform: rotate(0);
          }
        }

        @include c-lg {
          font-size: 15px;
        }

        svg {
          transform: rotate(-45deg);
          transition: all 0.3s ease-out;
        }
      }
    }
  }
}

.quantity > * {
  width: 33%;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

.product-info-container > * + * {
  margin: 7px 0 !important;
}

.grid {
  column-gap: 12px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 2rem;
  padding: 0;
  row-gap: 12px;
}

.grid-col-1 {
  .grid-item {
    @include c-lg {
      max-width: 100% !important;
      width: 100% !important;
    }
  }
}

.hide-on-mobile {
  @include c-lg {
    display: none !important;
  }
}

.price > * {
  display: inline-block;
  vertical-align: top;
}

.price-regular {
  display: block;
}

.visually-hidden {
  height: 1em;
  margin: 0;
  border: 0;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.price-item {
  font-weight: 600;
  display: inline-block;
  margin: 0 5px 0 0;
}

::ng-deep.custom-tooltip {
  max-width: 350px !important;
  white-space: normal !important;
}

.typically-used {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 18px;

  @include c-lg {
    padding-top: 9px;
  }

  .title-used-for {
    @include c-lg {
      display: none;
    }
  }

  .icons {
    align-items: stretch;
    display: flex;
    gap: 6px;
    justify-content: center;
    width: 100%;
  }

  .typically-used-card {
    align-items: center;
    background-color: #f0f4f7;
    border-radius: 8px;
    color: #353638;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 200px;
    min-height: 82px;
    padding: 14px 17px;
    text-align: center;
    width: 100%;

    .icon {
      color: #353638;
      display: flex;

      svg {
        height: 30px;
        width: 30px;

        @include c-lg {
          height: 16px;
          width: 16px;
        }
      }

      @include c-lg {
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: normal;
        overflow-x: auto;
      }
    }

    @include c-lg {
      align-items: center;
      flex: 0;
      gap: 6px;
      height: unset;
      max-width: unset;
      min-height: unset;
      min-width: 0;
      min-width: 67px;
      padding: 8px 10px;
    }
  }

  .caption {
    font-size: 14px;
    line-height: 1.8;
    font-weight: 600;

    @include large {
      line-height: 1.2;
    }

    @include c-lg {
      font-size: 9px;
      line-height: 1.2;
      word-break: break-word;
    }
  }
}

.local-navigation {
  .fixed-bar {
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.3s ease-out;
    width: 100%;
    z-index: 999;
  }

  .fixed-bar:not(.mobile-buy-button) {
    transform: translateY(-100%);
  }

  &.shown {
    .fixed-bar:not(.mobile-buy-button) {
      transform: translateY(0);
    }
  }

  .navigation {
    display: block;
    margin-top: 15px;
    position: static;
    transition: all 0.3s ease-out;
    width: 100%;

    @include c-lg {
      background-color: #ecf1f5;
      margin: 0;
    }
  }

  .navigation-container {
    padding: 10px;
    background: $primary-color;
    border-radius: 10px;
    display: flex;
    gap: 0;
    height: 60px;
    transition: all 0.3s ease-out;
    align-items: center;
    justify-content: space-between;

    @include c-lg {
      height: unset;
      padding: 10px 0 2px;
      background-color: transparent;
      border-radius: 0;
      box-shadow: none;
    }

    .section-nav-container {
      align-items: center;
      display: flex;
      gap: 30px;
      overflow: hidden;
      width: 100%;

      @include c-lg {
        align-items: flex-start;
        flex-direction: column;
        gap: 6px;
        justify-content: center;
        max-width: calc(100% + 3rem);
        width: 100%;
      }

      .product-title {
        flex-shrink: 0;
        margin: 0;
        text-decoration: none;
        transition: all 0.3s ease-out;
        color: #121519;

        &:hover {
          color: $secondary-color;
        }

        @include c-lg {
          font-size: 17px;
        }
      }

      .badge {
        padding: 6px 14px;

        @include c-lg {
          padding: 6px 14px;
        }
      }
    }
  }

  .buy-button-container {
    flex-shrink: 0;

    .btn {
      padding: 10px 30px;
    }

    @include c-lg {
      display: none;
    }
  }
}

.features-bg-wrapper {
  margin-top: 150px;
  padding: 100px 0;
  position: relative;

  @include c-lg {
    padding-bottom: 50px;
    padding-top: 124px;
  }

  .features-image {
    display: flex;
    height: -moz-fit-content;
    height: fit-content;
    left: 50%;
    margin-bottom: -100px;
    margin-top: -275px;
    max-width: 350px;
    position: sticky;
    top: calc(65px + 16px);
    transform: translateX(-50%);
    width: 100%;
    aspect-ratio: 1;

    @include c-lg {
      left: 50%;
      margin-top: -100px;
      max-width: 200px;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
    }

    img {
      width: 120%;
      align-items: center;
      display: flex;
      justify-content: center;
      height: auto;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  .features-section {
    column-gap: 550px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 80px;
    row-gap: 28px;

    @include m-xl {
      column-gap: 400px;
    }

    @include c-lg {
      gap: 8px;
      padding-top: 0;
    }

    .feature {
      background: linear-gradient(
        260.14deg,
        hsla(0, 0%, 100%, 0.07) 1.87%,
        rgba(45, 32, 3, 0.1) 97.39%
      );
      border: 0.2px solid $light-color;
      color: $primary-color;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 18px 22px;
      position: relative;

      @include c-lg {
        gap: 4px;
      }

      svg {
        height: 35px;
        margin-bottom: 10px;
        width: 35px;

        @include c-lg {
          height: 26px;
          width: 26px;
        }
      }

      h6 {
        font-size: 18px;

        &:is(h6, span) {
          color: $primary-color;
          word-break: break-word;
        }

        @include c-lg {
          margin: 0;
          font-size: 15px;
          color: #121519;
        }
      }
    }
  }
}

.features-section > * {
  flex: 1;
}

.background-snippet {
  background: linear-gradient(90deg, #312916, #392d11 35%, #534115);
  height: 100%;
  left: 0;
  min-height: 777px;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 0;
  z-index: -1;
}

swiper-container {
  margin-top: 30px;
  aspect-ratio: 1 / 0;
  display: flex;
}

swiper-slide {
  margin-right: 22px;
  height: 400px;
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  transform: unset;
  backface-visibility: unset;
}

.successful-customers-header {
  padding-top: 27px;
  padding-bottom: 27px;
  display: flex;
  justify-content: space-between;

  @include c-md {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .successful-customer-heading {
    gap: 0;
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }

  .succesful-customers-navigation-container {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
  }
}

.slider-buttons {
  display: flex;
  gap: 24px;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: flex-end;
}

::ng-deep.project-slide {
  @include large {
    width: 506px !important;
  }
}

::ng-deep.slide-link {
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 0.8px solid #d2d9de;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: inherit;
}

.card-grid-solution-outer-container {
  position: relative;

  .background-snippet {
    height: 100%;
    left: 0;
    min-height: unset;
    position: absolute;
    top: 0;
    width: 100%;
    background: linear-gradient(90deg, #fff -31.22%, #f9e8c5 109.76%);
  }
}

.card-features-section {
  padding-top: 63px;
  padding-bottom: 60px;
  overflow: hidden;
  position: relative;
  z-index: 2;

  @include c-md {
    padding-top: 84px;
    padding-bottom: 80px;
  }

  .card-grid-solution-heading {
    display: flex;
    flex-direction: column;
  }

  .solution-heading-center {
    align-items: center;
    text-align: center;
  }

  h2 {
    color: #121519;
    font-weight: 500;
    max-width: 700px;
    line-height: 1.2;
    font-size: 42px;

    @include c-lg {
      max-width: 570px;
      font-size: 28px;
      margin: 0 0 12px;
    }
  }

  .card-grid-solutions-container {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    margin-top: 30px;

    @include c-lg {
      overflow: auto;
    }

    @include large {
      margin-left: auto;
      margin-right: auto;
      max-width: calc(340px * 4);
    }

    .solution-card {
      background: $primary-color;
      color: $primary-color;
      border: 1px solid $primary-color;
      display: flex;
      flex-direction: column;
      border-radius: 18px;
      height: 100%;
      overflow: hidden;
      padding: 8px;
      position: relative;
      text-align: left;

      @include c-lg {
        width: 266px;
      }

      @include large {
        flex-basis: calc((100% - (4 - 1) * 12px) / 4);
        height: auto;
      }

      .anchor-no-style {
        color: inherit;
        height: 100%;
        text-decoration: inherit;

        .solution-card-image {
          border-radius: 18px;
          height: 380px;
          overflow: hidden;
          position: relative;
          width: 100%;

          @include c-lg {
            height: 273px;
          }

          img {
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;

            @include large {
              object-position: 50% 50%;
            }
            @include c-lg {
              object-position: 50% 50%;
            }
          }
        }

        .solution-card-heading {
          margin-bottom: auto;
          margin-top: 24px;
          padding: 0 10px;

          h5 {
            color: #121519;
            font-weight: 700;
            max-width: 100%;
            font-size: 24px;
            line-height: 1.2;

            @include c-lg {
              font-size: 18px;
              margin: 0 0 12px;
            }
          }

          .caption {
            color: #121519;
            font-weight: 500;
            line-height: 1.5;
            margin: 0;

            @include c-lg {
              max-width: 100%;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

.article-comp-container {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  &.active{
    pointer-events: all;
    .article-comp{
        opacity: 1;
        transform: translate(0);
    }
  }
}
.article-comp {
  background-color: $primary-color;
  height: 100%;
  max-width: 600px;
  opacity: 0;
  overflow-y: auto;
  padding-bottom: 20px;
  position: relative;
  transform: translate(100%);
  transition: all 0.3s ease-out;
  width: 100%;
  z-index: 1;

  .drawer-content {
    padding: 20px 40px 0;
    .close-btn {
      align-items: center;
      -webkit-backdrop-filter: blur(1px);
      backdrop-filter: blur(1px);
      background-color: transparent;
      border: 0.8px solid #353638;
      border-radius: 9999px;
      cursor: pointer;
      display: flex;
      height: 47px;
      justify-content: center;
      margin-bottom: 24px;
      margin-left: auto;
      position: sticky;
      top: 20px;
      width: 47px;
      z-index: 10;
    }
  }
}
