<a href="" class="slide-link" style="text-decoration: none;">
    <div class="project-slide">
        <div class="project-slide-header">
            <h4>{{project.name}}</h4>
            <div class="succesful-customer-slide-badge-container">
            </div>
        </div>
        <div class="project-slide-desc-container" style="height: 197px;">
            <span class="caption slide-author">{{project.author}}</span>
            <div class="project-slide-desc caption">{{project.desc}}</div>
        </div>
        <div class="project-slide-bg">
            <img [src]="project.img" alt="">
        </div>
        <div class="overlay"></div>
    </div>
</a>