@use '../../styles/media-queries.scss' as *;
@use '../../styles/variables' as *;

.slide-link {
    @include large {
        &:hover {
            img {
                scale: 1.05;
            }
            svg{
                transform: rotate(45deg);
            }
        }
    }
}

.project-slide {
    align-items: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    width: 415px;

    @include c-lg {
        height: 100%;
        min-height: 405px;
        width: 281px;
    }

    .project-slide-header {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 22px 20px;
        width: 100%;
        margin-bottom: 0;

        @include c-lg {
            padding: 14px 14px 0;
        }

        h4 {
            color: $primary-color;
            font-size: 26px;
            line-height: 1.2;
            font-weight: 700;

            @include c-lg {
                font-size: 20px;
            }
        }

        .succesful-customer-slide-badge-container {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
        }
    }

    .project-slide-desc-container {
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        background: rgba($color: #000000, $alpha: 0.5);
        border-radius: 14px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin: 0 20px 22px;
        padding: 16px;
        width: fit-content;

        @include c-lg {
            background: transparent;
            margin: 0 14px 14px;
            width: 100%;
        }

        .slide-author {
            align-items: center;
            color: $light-color;
            display: flex;
        }

        .caption {
            @include c-lg {
                font-size: 13px;
            }
        }

        .project-slide-desc {
            color: $primary-color;
        }
    }

    .project-slide-bg {
        border-radius: 16px;
        height: 100%;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: -1;

        img {
            transition: all 0.3s ease-out;
            height: 100%;
            position: relative;
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
        }
    }

    .overlay {
        -webkit-backdrop-filter: blur(.25px);
        backdrop-filter: blur(.25px);
        background: linear-gradient(0deg, #0d1115, transparent 50%, #0d1115);
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
}

.two-col-entry-arrow {
    position: absolute;
    right: 16px;
    top: 13px;
    display: block;
    margin-left: auto;
    padding: 16px;
    border: 1px solid $primary-color;
    bottom: 26px;
    fill: hsla(0, 0%, 100%, .1);
    ;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border-radius: 50%;
    box-shadow: 0px 0px 6px 0px hsla(0, 0%, 100%, .6);
    cursor: pointer;
    filter: drop-shadow(0px 0px 6px hsla(0, 0%, 100%, .6));
    height: 54px;
    width: 54px;

    @include c-lg {
        padding: 0;
        position: absolute;
        right: -4px;
        top: -7px;
        height: 55px;
        width: 55px;
    }
    @include medium{
        display: none;
    }
}

.two-col-arrow-icon-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    transition: all 0.3s ease-out;
    width: 100%;

    svg {
        height: 14px;
        transition: all 0.3s ease-out;
        width: 14px;

        @include c-lg {
            height: 12px;
            width: 12px;
        }
    }
   
}