<a href="" class="slide-link" style="text-decoration: none;">
    <div class="project-slide">
        <div class="project-slide-header">
            <h4>{{project.name}}</h4>
            @if(showArrow){
            <span class="two-col-entry-arrow">
                <div class="two-col-arrow-icon-container">
                    <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11.9977 2.93992L11.9977 13.3178L13.2709 13.3126V0.770872H0.729128L0.723977 2.04408L11.1018 2.04408L0.281209 12.8647L1.17705 13.7605L11.9977 2.93992Z"
                            fill="#FDFDFD"></path>
                    </svg>
                </div>
            </span>
            }
            <div class="succesful-customer-slide-badge-container">
            </div>
        </div>
        <div class="project-slide-desc-container" style="height: 197px;">
            <span class="caption slide-author">{{project.author}}</span>
            <div class="project-slide-desc caption">{{project.desc}}</div>
        </div>
        <div class="project-slide-bg">
            <img [src]="project.img" alt="">
        </div>
        <div class="overlay"></div>
    </div>
</a>