<div class="section-container">
    <div class="solution-section">
        <div class="slide">
            <div class="slide-container">
                <div class="slide-text">
                    <div class="heading-content-container">
                        <h1>Smart Lighting</h1>
                    </div>
                </div>
                <div class="grediant-background"></div>
                <div class="slide-background">
                    <video playsinline="true" autoplay="autoplay" loop="loop" muted="muted" class="hero-video-bg"
                        preload="metadata"
                        poster="//www.shelly.com/cdn/shop/files/preview_images/dbdbffce763a49e69d76cd6184b75696.thumbnail.0000000000_small.jpg?v=1726749394">
                        <source
                            src="//www.shelly.com/cdn/shop/videos/c/vp/dbdbffce763a49e69d76cd6184b75696/dbdbffce763a49e69d76cd6184b75696.HD-1080p-7.2Mbps-34996986.mp4?v=0"
                            type="video/mp4"><img
                            src="//www.shelly.com/cdn/shop/files/preview_images/dbdbffce763a49e69d76cd6184b75696.thumbnail.0000000000_small.jpg?v=1726749394">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="category-types-section">
    <div class="text-section container">
        <div class="text-content">
            <span>INTRODUCTION</span>
            <h2>Lights for every activity</h2>
            <div class="caption" style="--max-width:740px; --max-width-mobile:100%;">
                <p>Smart lighting can make your home more comfortable, safe, and enjoyable while saving energy. With
                    Shelly, you can easily control your lights remotely, set smart schedules and timers, reducing energy
                    waste and lowering your electricity bills. Additionally, lighting accounts for 7% of a home's carbon
                    footprint, so making your lighting smarter is a simple way to help the environment too.</p>
            </div>
        </div>
    </div>
</div>

<div class="card-grid-solution-container">
    <div class="container card-grid-solution">
        <div class="card-type-container">
            <div class="solution-card">
                <a href="" class="anchor-no-style">
                    <div class="solution-card-image">
                        <img src="//www.shelly.com/cdn/shop/files/Frame_2377_2ffac10b-7de8-4112-9611-336286202a0a_750x.png?v=1726840091"
                            loading="lazy" alt="" width="750" height="750">
                    </div>
                    <div class="solution-card-heading">
                        <h5>Switching</h5>
                        <div class="caption">
                            <p>Installed for less than 10 minutes and small enough to fit behind every wall switch,
                                Shelly smart relays will make any light in your hone smart!</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="solution-card">
                <a href="" class="anchor-no-style">
                    <div class="solution-card-image">
                        <img src="//www.shelly.com/cdn/shop/files/Frame_2377_2ffac10b-7de8-4112-9611-336286202a0a_750x.png?v=1726840091"
                            loading="lazy" alt="" width="750" height="750">
                    </div>
                    <div class="solution-card-heading">
                        <h5>Switching</h5>
                        <div class="caption">
                            <p>Installed for less than 10 minutes and small enough to fit behind every wall switch,
                                Shelly smart relays will make any light in your hone smart!</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="solution-card">
                <a href="" class="anchor-no-style">
                    <div class="solution-card-image">
                        <img src="//www.shelly.com/cdn/shop/files/Frame_2377_2ffac10b-7de8-4112-9611-336286202a0a_750x.png?v=1726840091"
                            loading="lazy" alt="" width="750" height="750">
                    </div>
                    <div class="solution-card-heading">
                        <h5>Switching</h5>
                        <div class="caption">
                            <p>Installed for less than 10 minutes and small enough to fit behind every wall switch,
                                Shelly smart relays will make any light in your hone smart!</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="solution-card">
                <a href="" class="anchor-no-style">
                    <div class="solution-card-image">
                        <img src="//www.shelly.com/cdn/shop/files/Frame_2377_2ffac10b-7de8-4112-9611-336286202a0a_750x.png?v=1726840091"
                            loading="lazy" alt="" width="750" height="750">
                    </div>
                    <div class="solution-card-heading">
                        <h5>Switching</h5>
                        <div class="caption">
                            <p>Installed for less than 10 minutes and small enough to fit behind every wall switch,
                                Shelly smart relays will make any light in your hone smart!</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="category-types-section">
    <div class="text-section container">
        <div class="text-content">
            <span>Smart lighting</span>
            <h2>Switching</h2>
            <div class="caption" style="--max-width:620px; --max-width-mobile:100%;">
                <p>Installed for less than 10 minutes and small enough to fit behind every wall switch, Shelly smart
                    relays will make any light in your hone smart!</p>
            </div>
        </div>
    </div>
</div>

<div class="recomended-product-section">
    <div class="background-snippet"></div>
    <div class="image-video-section container">
        <div class="image-video-section-content">
            <div class="container">
                <div class="text-container">
                    <div class="text-content-background-container">
                        <span>SWITCHING</span>
                        <h2>Smart light switch to save you time and effort</h2>
                        <div class="caption" style="--max-width:520px; --max-width-mobile:100%;">
                            <p>Turn off all the lights in your home from the switch by your front door! With Shelly i4
                                Gen3, you can control multiple Shelly devices from a single location. Simply install it
                                behind your existing light switch near the front door, and you'll be able to turn off
                                all the lights in your home with one press, or control each light individually, saving
                                you time when you are in a hurry. </p>
                        </div>
                    </div>
                    <div class="product-recommend">
                        <div class="product-section">
                            <span class="caption">Recommended products:</span>
                            <div class="product-grid">
                                <div class="product-container"> <!-- [state]="{ product: product }" -->
                                    <a [routerLink]="['/products', 'product.id']" 
                                     class="anchor-no-style">
                                        <div class="product-details">
                                            <div class="product-detail-image-container">
                                                <img src="//www.shelly.com/cdn/shop/files/Shelly-i4-Gen3-main-image_120x.png?v=1727297295"
                                                    loading="lazy" alt="Shelly i4 Gen3" width="120" height="120">
                                            </div>
                                            <div class="product-detail-details-container">
                                                <span>Shelly i4 Gen3</span>
                                                <span class="caption">€15,13</span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="add-to-cart-icon" (click)="openCart()">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" width="36" height="37"
                                                viewBox="0 0 36 37" fill="none">
                                                <g filter="url(#filter0_bd_3642_39267)">
                                                    <rect width="28" height="28" rx="14"
                                                        transform="matrix(-1 0 0 1 32 4.5)" fill="white"
                                                        fill-opacity="0.1" shape-rendering="crispEdges"></rect>
                                                    <rect x="-0.2" y="0.2" width="27.6" height="27.6" rx="13.8"
                                                        transform="matrix(-1 0 0 1 31.6 4.5)" stroke="#ECF1F5"
                                                        stroke-width="0.4" shape-rendering="crispEdges"></rect>
                                                    <path
                                                        d="M17.5833 18.9167H13V18.0833H17.5833V13.5H18.4167V18.0833H23V18.9167H18.4167V23.5H17.5833V18.9167Z"
                                                        fill="#FDFDFD"></path>
                                                </g>
                                                <defs>
                                                    <filter id="filter0_bd_3642_39267" x="-2" y="-1.5" width="40"
                                                        height="40" filterUnits="userSpaceOnUse"
                                                        color-interpolation-filters="sRGB">
                                                        <feFlood flood-opacity="0" result="BackgroundImageFix">
                                                        </feFlood>
                                                        <feGaussianBlur in="BackgroundImageFix" stdDeviation="3">
                                                        </feGaussianBlur>
                                                        <feComposite in2="SourceAlpha" operator="in"
                                                            result="effect1_backgroundBlur_3642_39267">
                                                        </feComposite>
                                                        <feColorMatrix in="SourceAlpha" type="matrix"
                                                            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                                            result="hardAlpha"></feColorMatrix>
                                                        <feOffset></feOffset>
                                                        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
                                                        <feComposite in2="hardAlpha" operator="out"></feComposite>
                                                        <feColorMatrix type="matrix"
                                                            values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.6 0">
                                                        </feColorMatrix>
                                                        <feBlend mode="normal"
                                                            in2="effect1_backgroundBlur_3642_39267"
                                                            result="effect2_dropShadow_3642_39267"></feBlend>
                                                        <feBlend mode="normal" in="SourceGraphic"
                                                            in2="effect2_dropShadow_3642_39267" result="shape">
                                                        </feBlend>
                                                    </filter>
                                                </defs>
                                            </svg></span>
                                    </div>
                                </div>
                                <!-- [state]="{ product: product }" -->
                                <div class="product-container">
                                    <a [routerLink]="['/products', 'product.id']" 
                                      class="anchor-no-style">
                                        <div class="product-details">
                                            <div class="product-detail-image-container">
                                                <img src="//www.shelly.com/cdn/shop/files/Shelly-i4-Gen3-main-image_120x.png?v=1727297295"
                                                    loading="lazy" alt="Shelly i4 Gen3" width="120" height="120">
                                            </div>
                                            <div class="product-detail-details-container">
                                                <span>Shelly i4 Gen3</span>
                                                <span class="caption">€15,13</span>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="add-to-cart-icon" (click)="openCart()">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" width="36" height="37"
                                                viewBox="0 0 36 37" fill="none">
                                                <g filter="url(#filter0_bd_3642_39267)">
                                                    <rect width="28" height="28" rx="14"
                                                        transform="matrix(-1 0 0 1 32 4.5)" fill="white"
                                                        fill-opacity="0.1" shape-rendering="crispEdges"></rect>
                                                    <rect x="-0.2" y="0.2" width="27.6" height="27.6" rx="13.8"
                                                        transform="matrix(-1 0 0 1 31.6 4.5)" stroke="#ECF1F5"
                                                        stroke-width="0.4" shape-rendering="crispEdges"></rect>
                                                    <path
                                                        d="M17.5833 18.9167H13V18.0833H17.5833V13.5H18.4167V18.0833H23V18.9167H18.4167V23.5H17.5833V18.9167Z"
                                                        fill="#FDFDFD"></path>
                                                </g>
                                                <defs>
                                                    <filter id="filter0_bd_3642_39267" x="-2" y="-1.5" width="40"
                                                        height="40" filterUnits="userSpaceOnUse"
                                                        color-interpolation-filters="sRGB">
                                                        <feFlood flood-opacity="0" result="BackgroundImageFix">
                                                        </feFlood>
                                                        <feGaussianBlur in="BackgroundImageFix" stdDeviation="3">
                                                        </feGaussianBlur>
                                                        <feComposite in2="SourceAlpha" operator="in"
                                                            result="effect1_backgroundBlur_3642_39267">
                                                        </feComposite>
                                                        <feColorMatrix in="SourceAlpha" type="matrix"
                                                            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                                            result="hardAlpha"></feColorMatrix>
                                                        <feOffset></feOffset>
                                                        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
                                                        <feComposite in2="hardAlpha" operator="out"></feComposite>
                                                        <feColorMatrix type="matrix"
                                                            values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.6 0">
                                                        </feColorMatrix>
                                                        <feBlend mode="normal"
                                                            in2="effect1_backgroundBlur_3642_39267"
                                                            result="effect2_dropShadow_3642_39267"></feBlend>
                                                        <feBlend mode="normal" in="SourceGraphic"
                                                            in2="effect2_dropShadow_3642_39267" result="shape">
                                                        </feBlend>
                                                    </filter>
                                                </defs>
                                            </svg></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video-section">
                <div class="video-content">
                    <video playsinline="true" loop="loop" muted="muted" autoplay="autoplay" preload="metadata"
                        poster="//www.shelly.com/cdn/shop/files/preview_images/c0764fd51d3a4f18a69303688d86d548.thumbnail.0000000000_small.jpg?v=1726059799">
                        <source
                            src="//www.shelly.com/cdn/shop/videos/c/vp/c0764fd51d3a4f18a69303688d86d548/c0764fd51d3a4f18a69303688d86d548.SD-480p-0.9Mbps-34604709.mp4?v=0"
                            type="video/mp4"><img
                            src="//www.shelly.com/cdn/shop/files/preview_images/c0764fd51d3a4f18a69303688d86d548.thumbnail.0000000000_small.jpg?v=1726059799">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>