<div class="container-fluid product-slider-container" style="overflow: hidden;">
    <div class="products-slider-header">
        <div class="products-slider">
            <h2 class="heading-text">Products</h2>
        </div>
        <div class="slides-controls">
            <div class="slider-buttons">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <a [routerLink]="['/products']" class="btn btn-outlined-white">Shop all Products</a>
        </div>
    </div>
    <div class="products-filter">
        <div class="product-filter-badge">
            @for (property of availableProperties; track $index) {
            <button class="filter-badge" (click)="filterProducts(property.title)" [id]="property.id">
                <div class="badge" [class.active]="selectedProperty === property.title">
                    <div class="badge-text">{{property.title}}</div>
                </div>
            </button>
            }
        </div>

    </div>
    <swiper-container #swiperRef init="false" class="w-full">
 
       @for (product of filteredProducts; track $index) {
        <swiper-slide style="width: 316.222px; margin-right: 22px;">
            <app-product-card [product]="product" [selectedVariants]="selectedVariants"
                (variantSelected)="onVariantSelected($event)"></app-product-card>
        </swiper-slide>
    }
    </swiper-container>

    <div class="products-btn-mobile my-4 text-center">
        <a [routerLink]="['/products']" class="btn btn-outlined-white">Shop all Products</a>
    </div>
</div>


