<div class="container">
    <div class="products-slider-header">
        <div class="products-slider">
            <h2 class="heading-text">Products</h2>
        </div>

    </div>
    <swiper-container thumbs-swiper=".my-thumbs" #swiperRef init="false" class="w-full">
        @for (product of products; track product.name) {
        <swiper-slide style="width: 316.222px; margin-right: 22px;">
            <div class="product-card" (mouseenter)="hoveredProduct = product" (mouseleave)="hoveredProduct = null">
                <div class="card-wrapper">
                    <div class="card" style="--ratio-percent: 100%;">
                        <a href="" class="card-inner rate" style="--ratio-percent: 100%;">
                            <div class="card-media has-custom-secondary-img">
                                <div class="media">
                                    <picture><img
                                            src="https://www.shelly.com/cdn/shop/files/Shelly-Pro-RGBWW-PM-main-image_500x.png?v=1734563380"
                                            alt="" loading="lazy" class="card-media-featured" width="300" height="300">
                                    </picture>
                                    <picture><img
                                            src="https://www.shelly.com/cdn/shop/files/HF_Shelly-Pro-RGBWW-PM_500x.jpg?v=1734564749"
                                            alt="" loading="lazy" class="card-media-secondary" width="300" height="300">
                                    </picture>
                                </div>
                            </div>
                            <div class="card-contnet">
                                <div class="card-badge card-badge-custom top right">
                                    <div class="badge">
                                        <div class="badge-text">Out Of Stock</div>
                                    </div>
                                </div>
                                <div class="card-feature-icons-container">
                                    <div class="card-feature-icon">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M1.91992 3.74099C1.91992 3.41832 2.1815 3.15674 2.50417 3.15674H21.3357C21.6583 3.15674 21.9199 3.41832 21.9199 3.74099V14.7436C21.9199 15.0662 21.6583 15.3278 21.3357 15.3278H18.0826V20.1186C18.0826 20.4413 17.821 20.7029 17.4983 20.7029H6.34151C6.01884 20.7029 5.75726 20.4413 5.75726 20.1186V15.3278H2.50417C2.1815 15.3278 1.91992 15.0662 1.91992 14.7436V3.74099ZM3.08842 4.32524V14.1593H6.34151C6.66418 14.1593 6.92576 14.4209 6.92576 14.7436V19.5344H16.9141V14.7436C16.9141 14.4209 17.1756 14.1593 17.4983 14.1593H20.7514V4.32524H3.08842Z"
                                                fill="#4594D1"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M8.15483 3.74097V8.49441H6.98633V3.74097H8.15483Z" fill="#4594D1">
                                            </path>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M12.5015 3.74097V8.49441H11.333V3.74097H12.5015Z" fill="#4594D1">
                                            </path>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M16.8667 3.74097V8.49441H15.6982V3.74097H16.8667Z" fill="#4594D1">
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="card-contnet">
                            <div class="product-card-price-container-title-and-price">
                                <h3 class="card-heading">
                                    <a href="" class="card-link">{{product.name}} </a>
                                </h3>
                                <div class="product-card-price-container">
                                    <div class="price">
                                        <div class="price-container">
                                            <div class="price-regular d-block">
                                                <span class="visually-hidden visually-hidden-inline">Regular
                                                    Price</span>
                                                <span class="price-item">€56,75</span>
                                            </div>
                                            <div class="product-sale d-none">
                                                <span class="visually-hidden visually-hidden-inline">sale Price</span>
                                                <span class="price-item">€56,75</span>
                                                <span class="visually-hidden visually-hidden-inline">Regular
                                                    Price</span>
                                            </div>
                                        </div>
                                        <div class="product-card-description-container">
                                            <div class="product-card-description caption">
                                                Our first DIN-rail mountable, five-channel smart light controller for
                                                managing adjustable white channels (CCT) and 5 LED strips independently.
                                                Featuring power measurement that allows real-time trac...

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-card-content-container">
                                <div class="product-card-typicaly-used-for">
                                    <div class="badge">
                                        <div class="badge-icon"><svg width="10" height="7" viewBox="0 0 10 7"
                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M3.77486 6.91906L0.924805 4.069L1.63732 3.35648L3.77486 5.49403L8.36246 0.906433L9.07497 1.61895L3.77486 6.91906Z"
                                                    fill="#4594D1"></path>
                                            </svg></div>
                                        <div class="badge-text">LED strips</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </swiper-slide>
        }
    </swiper-container>
</div>