/* You can add global styles to this file, and also import other style files */
@use '././styles/variables' as *;
@use '././styles/media-queries.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
    font-family: 'Newtron';
    src: url('/fonts/Newtron ICG Alt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    
}

body {
    font-family: "Manrope", serif;
}
.rtl body {
  /* direction: rtl; */
  text-align: right;
}

.no-scroll {
    overflow: hidden;
}

.caption {
    font-size: 14px;
    line-height: 1.8;
    font-weight: 600;

    @include c-lg {
        font-size: 13px;
    }
    @include large {
        line-height: 1.2;
    }
}


.btn {
    color: #fdfdfd;
    padding: 14px 56px;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    gap: 16px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    z-index: 1;

    @include c-lg {
        max-width: 100%;
        width: 100%;
    }

    @include medium {
        padding: 12px 32px;
    }
}

.btn:after,
.btn:before {
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.btn,
.btn:after,
.btn:before {
    height: 100%;
    transition: all 0.3s ease-out;
}

.btn-outlined-white {
    border: 1px solid#fdfdfd;
    color: #fdfdfd;
}

.btn-outlined-white:hover {
    color: $secondary-color
}

.btn:not(.caption) {
    font-size: 16px;
    font-weight: 700;
}

.btn:hover:after {
    opacity: 1;
}

.btn-outlined-white:after {
    background: linear-gradient(90deg, #fff, #fee4ac);
}

.btn:after,
.btn:hover:before {
    opacity: 0;
}

.btn-filled-light {
    color: #121519;

    &::before {
        background: linear-gradient(90deg, #fff, #fee4ac);
        ;
    }

    &::after {
        background: linear-gradient(90deg, $secondary-color, $dark-color);
    }

    &:hover {
        color: #fee4ac;
    }
}

.btn.btn-filled {
    color: $primary-color;

    &::before {
        background: linear-gradient(90deg, $secondary-color, $dark-color);
    }

    &::after {
        background: linear-gradient(90deg, #fff, $light-color);
        ;
    }

    &:hover {
        border-color: $secondary-color;
        color: $secondary-color;
    }
}

.nav-item {
    align-items: center;
    color: #000;
    display: flex;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.caption {
    font-size: 14px;
    line-height: 1.8;

    @include c-lg {
        font-size: 13px;
    }
}

.submenu-icon {
    span {
        img {
            @include c-lg {
                width: 30px;
                height: 30px;
            }
        }
    }
}

.nav-item-icon {
    svg {
        aspect-ratio: 1 / 1;
        height: auto;
        object-fit: contain;
        width: 100%;

        @include c-lg {
            width: 30px;
            height: 30px;
        }
    }
}

a {
    cursor: pointer;
}

img {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

}

::part(container) {
    overflow: visible !important;
}

swiper-container::part(container) {
    display: flex;
}


.swiper-button-prev,
.swiper-button-next {
    color: #cd9b2e;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #cd9b2e;
    display: flex;
    justify-content: center;
    align-items: center;
    --swiper-navigation-size: 20px;
    top: 15%;

    @include c-lg {
        top: 50%;
    }


}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: calc(100% - 100px);
}


/* Add hover effects (optional) */
.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: #fee4ac61;
}

.slides-controls {
    display: flex;
    align-items: center;

    .btn {
        display: block;
        border: 1px solid $secondary-color;
        color: $secondary-color;
        padding: 12px 48px;
    }

    @include c-lg {
        .btn {
            display: none;

        }

    }
}

.slider-buttons {
    padding: 10px;
    position: relative;
    gap: 26px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

swiper-container {
    aspect-ratio: 1 / 0;
    display: flex;
}

.col-content-arrow {
    border: 1px solid $primary-color;
    bottom: 26px;
    padding: 15px;
    position: absolute;
    right: 26px;
    fill: hsla(0, 0%, 100%, .1);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border-radius: 50%;
    box-shadow: 0px 0px 6px 0px hsla(0, 0%, 100%, .6);
    cursor: pointer;
    filter: drop-shadow(0px 0px 6px hsla(0, 0%, 100%, .6));
    height: 54px;
    width: 54px;

    @include c-lg {
        height: 55px;
        width: 55px;
        padding: 10px;
    }

    .arrow-icon {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        transition: all 0.3s ease-out;
        width: 100%;

        svg {
            height: 17px;
            width: 17px;

            @include c-lg {
                height: 12px;
                width: 12px;
            }
        }
    }
}

.badge {
    background-color: #f9f9f9;
    width: max-content;
    align-items: center;
    border: 1px solid $secondary-color;
    border-radius: 9999px;
    color: $secondary-color;
    display: inline-flex;
    font-size: 13px;
    gap: 4px;
    justify-content: center;
    padding: 2px 8px;
    transition: all 0.3s ease-out;

    @include c-lg {
        font-size: 10px;
        padding: 3px 6px;
    }
}

.badge-icon {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 10px;
    width: 100%;
}

::-webkit-scrollbar {
    width: 8px ;
    height: 8px ;
}

::-webkit-scrollbar-track {
    background: #f1f1f1 ;
    border-radius: 10px ;
}

::-webkit-scrollbar-thumb {
    background: #888 ;
    border-radius: 10px ;
}

::-webkit-scrollbar-thumb:hover {
    background: #555 ;
}


