/* You can add global styles to this file, and also import other style files */
@use '././styles/variables' as *;
@use '././styles/media-queries.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
    font-family: 'Newtron';
    src: url('/fonts/Newtron ICG Alt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", serif;
}

.caption {
    font-size: 14px;

    @include c-lg {
        font-size: 13px;
    }
}

.btn {
    color: #fdfdfd;
    padding: 14px 56px;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    gap: 16px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    z-index: 1;

    @include c-lg {
        max-width: 100%;
        width: 100%;
    }

    @include medium {
        padding: 12px 32px;
    }
}

.btn:after,
.btn:before {
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.btn,
.btn:after,
.btn:before {
    height: 100%;
    transition: all 0.3s ease-out;
}

.btn-outlined-white {
    border: 1px solid#fdfdfd;
    color: #fdfdfd;
}

.btn-outlined-white:hover {
    color: $secondary-color
}

.btn:not(.caption) {
    font-size: 16px;
    font-weight: 700;
}

.btn:hover:after {
    opacity: 1;
}

.btn-outlined-white:after {
    background: linear-gradient(90deg, #fff, #fee4ac);
}

.btn:after,
.btn:hover:before {
    opacity: 0;
}

.btn.btn-filled {
    color: $primary-color;

    &::before {
        background: linear-gradient(90deg, $secondary-color, $dark-color);
    }

    &::after {
        background: linear-gradient(90deg, #fff, $light-color);
        ;
    }

    &:hover {
        border-color: $secondary-color;
        color: $secondary-color;
    }
}

.nav-item {
    align-items: center;
    color: #000;
    display: flex;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.caption {
    font-size: 14px;
    line-height: 1.8;

    @include c-lg {
        font-size: 13px;
    }
}

.submenu-icon {
    span {
        svg {
            @include c-lg {
                width: 30px;
                height: 30px;
            }
        }
    }
}

.nav-item-icon {
    svg {
        aspect-ratio: 1 / 1;
        height: auto;
        object-fit: contain;
        width: 100%;

        @include c-lg {
            width: 30px;
            height: 30px;
        }
    }
}

a {
    cursor: pointer;
}

img {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
