@use '../../styles/variables' as *;
@use '../../styles/media-queries.scss' as *;


.bg {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.bg-snippet {
    height: 100%;
    left: 0;
    min-height: 777px;
    position: absolute;
    top: 0;
    width: 100%;
    background: linear-gradient(90deg, #312916, #392d11 35%, #534115);
    background-repeat: no-repeat;
    background-size: cover;
}

.Desktop-View {
    margin: 0 auto;
    padding: 0 2rem;
    color: #fdfdfd;
}

.sidebar {
    align-items: center;
    height: 100vh;
    justify-content: center;
    padding: 20px 20px 20px 0;
    position: sticky;
    top: 0;
}

.sidebar,
.sidebar-container {
    display: flex;
}

.steps {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}

div.step-active {
    color: #fdfdfd;
}

.step {
    color: hsla(0, 0%, 100%, .4);
    transform: rotate(-90deg);
}

.pagination-steps-line-container {
    background: hsla(0, 0%, 100%, .4);
    height: 86.354px;
    width: 1px;
}

.pagination-steps-line {
    background: #fdfdfd;
    transition: height 0.3s ease-out;
    height: 0;
}

.steps-container {
    display: flex;
    flex-direction: column;
    padding-left: 7%;
    width: 100%;
}

.step-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
}

.step-text-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    max-width: 395px;
    width: 100%;

    h2 {
        font-size: 42px;
    }

    a.btn {
        font-size: 16px;
        font-weight: 700;
        height: fit-content;
        margin-top: 30px;
        padding: 14px 56px;

    }
}

.step-count-header {
    margin-bottom: 30px;
    align-items: center;
    display: flex;
    gap: 20px;
}

.scroll-height {
    display: flex;
    height: auto;
    margin-left: auto;
    padding-right: 0;
    width: 100%;
}

.img-container {
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    width: 100%;
}

.images {
    display: block;
    height: 459px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 476px;
}

.relative-step-container {
    border-radius: 18px;
    height: 459px;
    overflow: hidden;
    position: relative;
    width: 476px;
}

.step-image-container {
    height: 459px;
    overflow: hidden;
    width: 476px;
}

.step-image-container img {
    height: 489px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.step-image-container {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
    height: 0;
    overflow: hidden;
}


.step-counter-header {
    align-items: center;
    display: flex;
    gap: 20px;
    margin-bottom: 30px;

    @include c-lg {
        margin-bottom: 14px;
    }
}

.step-counter-icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.step-image-container.active {
    height: 459px;
}

/* mobile-view */


.Mobile-View {
    padding-top: 27px;
    padding-bottom: 27px;
}

.step-content {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 14px;
}

.step-image {
    height: 322px;
    width: 100%;
}

.step-image img {
    border-radius: 18px;
    display: block;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.step-text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    max-width: 395px;
    width: 100%;

    a.btn {
        height: fit-content;
        width: fit-content;

        @include medium {
            padding: 13px 40px;
        }

        @include c-lg {
            margin-top: 20px;
        }
    }

    .caption {
        line-height: 1.2;
    }
}


.pagination-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-dot.active {
    background-color: #000;
}