<section class="main">
    <div class="text-content">
        <div class="heading-content">
            <span>Explore</span>
            <h2>Nest-Futura's Latest Innovations</h2>
            <div class="caption">Experience next-level smart home automation with Shelly Gen4 novelties. Featuring
                Wi-Fi, Bluetooth, and Zigbee connectivity, along with Matter certification.</div>
        </div>
        <div class="main-button-container">
            <a href="" class="btn btn-filled">
                Learn More
            </a>
        </div>
    </div>
    <div class="main-bg-container">
        <div class="main-bg">
            <picture>
                <source media="(min-width:990px)"
                    srcset="https://www.shelly.com/cdn/shop/files/house-with-lights-on-resized_1920x.jpg?v=1734007651">
                <img src="https://www.shelly.com/cdn/shop/files/house-with-lights-on-mobile_750x.jpg?v=1735308381"
                    alt="">
            </picture>
        </div>
    </div>
</section>
<section class="container metrics" #metricsSection>
    <div class="metrics-container">
        @for (metric of metrics; track $index) {
        <div class="metrics-block">
            <span class="metric-value" #metricElement [attr.data-value]="metric.value" [attr.data-type]="metric.type">
                0
            </span>
            <span class="caption">{{ metric.caption }}</span>
        </div>
        }
        <div class="action-block">
            <a href="" class="action-block-link">
                <div class="metric-action-icon">
                    <h5>NESTFUTURA</h5>
                </div>
                <span class="m-0" style="color: #fdfdfd;">Real Time Dashboard</span>
                <div class="arrow-icon-metric-action">
                    <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M17.3583 9.87553L9.39394 17.5024L10.375 18.4343L20 9.21716L10.375 0L9.39394 0.931921L17.3583 8.55879H0.75V9.87553H17.3583Z"
                            fill="#FDFDFD"></path>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>