<section class="main">
    <div class="text-content">
        <div class="heading-content">
            <span>Explore</span>
            <h2>Nest-Futura's Latest Innovations</h2>
            <div class="caption">Experience next-level smart home automation with Shelly Gen4 novelties. Featuring
                Wi-Fi, Bluetooth, and Zigbee connectivity, along with Matter certification.</div>
        </div>
        <div class="main-button-container">
            <a href="" class="btn btn-filled">
                Learn More
            </a>
        </div>
    </div>
    <div class="main-bg-container">
        <div class="main-bg">
            <picture>
                <source media="(min-width:990px)"
                    srcset="https://www.shelly.com/cdn/shop/files/house-with-lights-on-resized_1920x.jpg?v=1734007651">
                <img src="https://www.shelly.com/cdn/shop/files/house-with-lights-on-mobile_750x.jpg?v=1735308381"
                    alt="">
            </picture>
        </div>
    </div>
</section>