@use '../../styles/media-queries.scss' as *;
@use '../../styles/variables' as *;

.main {
    height: 90vh;
}

.text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    color: $primary-color;

    @include c-lg {
        padding: 0;
    }

    @include medium {
        padding: 1rem;
    }

    @include small {
        padding: 0;
    }

    .heading-content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        span {
            color: $secondary-color;
        }

        h2 {
            @include small {

                font-size: 1.5rem;
            }
        }

        .caption {
            @include small {
                font-size: 10px;
            }
        }
    }
}

.main-bg-container {

    .main-bg {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
        z-index: -1;

        &::before {
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        img {
            position: relative;
            z-index: 0;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
        }
    }
}

.metrics {
    padding-top: 27px;
    padding-bottom: 27px;

    @include c-md {
        padding-top: 36px;
        padding-bottom: 36px;
    }

    .metrics-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;
        width: 100%;

        @include c-md {
            display: flex;
        }

        .metrics-block {
            background: linear-gradient(90deg, #fff -84.32%, #fee4ac 198.3%);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            justify-content: space-between;
            padding: 14px;

            @include c-md {
                flex: 1;
            }

            .metric-value {
                background: linear-gradient(90deg, $secondary-color, $dark-color);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;


                font-size: 32px;

                @include c-lg {
                    font-size: 24px;
                    margin: 0 0 12px;
                }

            }
        }

        .action-block {
            background: linear-gradient(90deg, $secondary-color, $dark-color);
            border-radius: 10px;
            grid-column: span 2;
            padding: 16px 20px;
            position: relative;

            a.action-block-link {
                display: flex;
                flex-direction: column;
                gap: 20px;
                height: 100%;
                justify-content: space-between;
                text-decoration: none;
                color: $primary-color;

                .metric-action-icon {
                    width: 100%;

                    img {
                        height: fit-content;
                        -o-object-fit: contain;
                        object-fit: contain;
                        width: 100%;
                    }

                    h5 {
                        background: linear-gradient(90deg, $light-color, #fff);
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-weight: 900;

                        @include md-lg {
                            font-size: 1rem;
                        }
                    }
                }

                span {
                    @include c-lg {
                        font-size: 17px;
                    }
                }

                .arrow-icon-metric-action {
                    position: absolute;
                    right: 24px;
                    top: 24px;
                }
            }

            @include c-md {
                flex: 1.4;
            }
        }
    }
}

.why {
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .subheadline {
        color: $secondary-color;

        @include c-lg {
            font-size: 15px;
        }
    }

    h2 {
        max-width: 970px;
        margin-bottom: 14px;
        margin-top: 14px;
        font-size: 64px;

        @include small {
            max-width: 100%;
        }

        @include c-lg {
            margin-bottom: 12px;
            margin-top: 12px;
            font-size: 38px;
        }
    }

    span.bg-grediant {
        background: linear-gradient(90deg, $secondary-color, $dark-color);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.background-relative-container {
    overflow: hidden;
    position: relative;

    .play-button-icon {
        display: none;
        height: 50px;
        left: 50%;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        z-index: 2;

        @include c-lg {
            display: block;
        }
    }

    .video-section {
        border-radius: 14px;

        .template {
            padding-top: 0px;
            padding-bottom: 27px;

            @include c-md {
                padding-top: 0px;
                padding-bottom: 36px;
            }

            .video-container {
                max-width: 1078px;
                border-radius: 14px;
                margin: 0 auto;
                overflow: hidden;
                position: relative;
                width: 78%;

                @include c-lg {
                    height: auto;
                    width: 100%;
                }

                .video-section-poster {
                    cursor: url('/img/type_play.svg') 50 50, pointer;
                    height: 100%;
                }

                .video-popup {
                    align-items: center;
                    background: #fff;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    height: 100%;
                    justify-content: center;
                    left: 0;
                    opacity: 0;
                    pointer-events: none;
                    position: fixed;
                    top: 0;
                    transition: all 0.3s ease-out;
                    width: 100%;
                    z-index: 110;

                    .video-popup-close-btn svg {
                        cursor: pointer;
                        height: 32px;
                        width: 32px;
                    }

                    .popup-video-container {
                        height: 70%;
                        overflow: hidden;
                        position: relative;
                        width: 70%;

                        @include c-lg {
                            height: fit-content;
                            width: 80%;
                        }

                        video {
                            height: fit-content;
                            position: relative;
                        }

                        .video-vid {
                            height: 100%;
                            left: 0;
                            -o-object-fit: cover;
                            object-fit: cover;
                            top: 0;
                            width: 100%;
                            z-index: 0;
                        }
                    }
                }
            }
        }

    }
}



.featured-grid-section {
    position: relative;
    padding-top: 60px;
    padding-bottom: 27px;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #fff -84.32%, #fee4ac 198.3%)
    }

    .featured-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: space-between;
        position: relative;
        row-gap: 40px;
        z-index: 2;

        @include c-lg {
            flex-direction: column;
            gap: 20px;
        }

        .featured-grid-item {
            align-items: flex-start;
            display: flex;
            flex: 1;
            flex-basis: calc(100% / 4 - 16px);
            flex-direction: column;
            gap: 32px;
            justify-content: left;
            padding: 0;
            position: relative;
            text-align: left;

            @include c-lg {
                gap: 24px;
                padding: 0;
            }



            .feature-grid-item-icon {
                height: -moz-fit-content;
                height: fit-content;
                width: -moz-fit-content;
                width: fit-content;
            }

            .featured-grid-heading-container {
                display: flex;
                flex-direction: column;
                gap: 14px;

                @include c-lg {
                    gap: 10px;
                }

                h4 {
                    @include c-lg {
                        max-width: 100%;
                        font-size: 18px;
                    }
                }

                .caption {
                    font-size: 15px;
                    max-width: 260px;

                    @include c-lg {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

.projects-slider-header {
    display: flex;
    justify-content: space-between;

    .projects-slider {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 600px;
    }

    .slides-controls {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;

        a {
            height: fit-content;
            width: -moz-fit-content;
            width: fit-content;
        }

        .slider-buttons {
            display: flex;
            gap: 24px;
            height: -moz-fit-content;
            height: fit-content;
            justify-content: flex-end;
        }

        @include c-lg{
            display: none;
        }
    }
}

.projects-btn-mobile{
    .btn{
        border: 1px solid $secondary-color;
        color: $secondary-color;
        max-width: max-content;
    }

    @include large{
        display: none;
    }
}

swiper-container {
    margin-top: 30px;
}

swiper-slide {
    height: 400px;
    overflow: hidden;
    width: -moz-fit-content;
    width: fit-content;
}

.project-section {
    padding-top: 60px;
    padding-bottom: 27px;

    @include c-md {
        padding-top: 80px;
        padding-bottom: 36px;
    }

    .page-width {
        margin: 0 auto;
        max-width: 1600px;
        padding: 0 1.5rem;

        @include large {
            padding: 0 5rem;
        }
    }
}

/* .two-col-section {
    margin-bottom: 30px;

    @include c-lg {
        margin-bottom: 25px;
    }

    h2 {
        font-size: 42px;
        line-height: 1.2;
        margin: 0;
        font-weight: 700;

        @include c-lg {
            font-size: 28px;
        }
    }
}

.two-col-container {
    display: flex;
    gap: 22px;
    height: 100%;
    width: 100%;

    @include c-lg {
        flex-direction: column;
        min-height: 321px;
    }

    .col-content {
        color: $primary-color;
        align-items: flex-end;
        border-radius: 18px;
        display: flex;
        flex: 1;
        justify-content: flex-start;
        min-height: 633px;
        overflow: hidden;
        padding: 26px 80px 26px 35px;
        position: relative;
        text-decoration: none;

        @include c-lg {
            min-height: 321px;
            padding: 16px 52px 16px 18px;
        }

        .col-content-title {
            h3 {
                @include c-lg {

                    font-size: 28px;
                }
            }
        }

        &:hover {
            img {
                @include large {
                    scale: 1.2;
                }
            }

            .arrow-icon {
                @include large {
                    rotate: 45deg;
                }
            }
        }

        .bg-two-col {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;

            .bg-grediant {
                display: block;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                background: linear-gradient(0deg, #0d1115 0, transparent 100%);
                z-index: 1;
            }

            img {
                transition: all 0.3s ease-out;
                height: 100%;
                position: relative;
            }
        }
    }
} */